@charset "UTF-8";

/* CSS Document

++++      ++++    ++++ ++++++++++++ ++++    ++++   ++++++++++
++++      ++++    ++++ ++++++++++++ ++++    ++++ ++++++++++
++++      ++++    ++++      ++++++  ++++    ++++   +++++
++++      ++++    ++++   +++++      ++++    ++++       +++++
+++++++++ ++++    ++++ ++++++++++++ ++++    ++++    +++++++++
+++++++++ ++++++++++++ ++++++++++++ ++++++++++++ ++++++++++

GENERAL STYLE */

:root {
    --primary-color: #084399;
    --secondary-color: #3AB5E7;
    --tertiary-color: #5BDDB9;
    --off-white: #FAFAFA;
    --light-grey: #eaeaea;
    --light-grey2: #f6f6f6;
    --normal-grey: #515151;
    --dark-grey: #333333;
    --red-alert: #DD0003;
    --green-success: #5BDDB9;
    --blue-info: #084399;
    --orange-warning: #FF9700;
    --font-family1: "Avenir Next", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    --font-family2: 'Oxygen', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    --font-family3: 'Oxygen', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


/* -------- /title/ CSS --------*/


/* -------- END /title/ CSS --------*/


/*On my-account dashboard*/

#verif-box {
    margin: auto;
    padding: 20px 0;
    text-align: left;
}


/* VERIFICATION MODULE */

.dokan-store-sidebar .widget {
    margin-right: 15px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.2);
}

.dokan-store-sidebar .widget .widget-title {
    font-family: 'Oxygen', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #333333;
}

#dokan-verification-list ul li {
    min-width: 180px !important;
}

@media (max-width:999px) {
    #dokan-verification-list ul li {
        min-width: 150px !important;
    }
}

#dokan-verification-list ul li span {
    font-family: 'Oxygen', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #333333;
}

#dokan-verification-list .verification-icon:before {
    margin-left: 20px;
}


/* END VERIFICATION MODULE */

.woocommerce-MyAccount-navigation {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
    margin-bottom: 30px;
}

.woocommerce-MyAccount-navigation:hover {
    box-shadow: 2px 2px 4px 1px rgba( 0, 0, 0, 0.2);
}

.woocommerce-MyAccount-navigation,
.dokan-dashboard-menu,
p {
    font-family: var(--font-family1);
}

.woocommerce-MyAccount-navigation ul {
    border: none !important;
    margin-bottom: 0;
}

.woocommerce-MyAccount-navigation ul li {
    border: none !important;
}

.dokan-dashboard-menu a {
    font-size: 1em !important;
}

.woocommerce-message {
    color: var(--off-white);
    background-color: var(--secondary-color);
}

.woocommerce-message a {
    color: var(--off-white);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.woocommerce-message a:hover {
    color: var(--primary-color);
    background-color: var(--off-white);
    padding: 5px;
    border-radius: 5px;
    opacity: 1;
}


/* START MY ACCOUNT DASHBOARD */

#wrapper-my-account {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.container-left {
    width: 63%;
    border-radius: 3px;
    padding: 5%;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0px 0px 4px 0px rgba( 0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
}

.container-left:hover {
    box-shadow: 0px 0px 8px 1px rgba( 0, 0, 0, 0.2);
}

#avatar-my-account {
    margin-bottom: 20px
}

.container-right {
    width: 35%;
    margin: 0;
}

#rex-form {
    width: 100%;
    background-color: #ffffff;
    padding: 20% 12% 20% 12%;
    box-shadow: 0px 0px 4px 0px rgba( 0, 0, 0, 0.2);
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

#rex-form:hover {
    box-shadow: 0px 0px 7px 0px rgba( 0, 0, 0, 0.2);
}

#rex-form textarea {
    border: solid 2px #ececec;
}

#rex-form h3,
.the_champ_sharing_title {
    font-family: var(--font-family1) !important;
    font-weight: 700 !important;
    color: var(--dark-grey);
}

#rex-form p {
    font-family: var(--font-family2);
    font-weight: 500 !important;
}

#share-luzus {
    margin: 30px 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 15% 12% 15% 12%;
    box-shadow: 0px 0px 4px 0px rgba( 0, 0, 0, 0.2);
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

#share-luzus:hover {
    box-shadow: 0px 0px 7px 0px rgba( 0, 0, 0, 0.2);
}

#share-luzus .the_champ_sharing_title {
    font-family: var(--font-family2);
}

@media (max-width: 768px) {
    #wrapper-my-account {
        width: 100%;
        display: block;
        margin: auto;
        padding: 0;
    }
    .container-left {
        width: 100%;
    }
    .container-right {
        width: 100%;
    }
    #rex-form {
        padding: 8% 12% 8% 12%;
    }
    #share-luzus {
        margin-top: 4%;
        padding: 8% 12% 8% 12%;
    }
}


/* END MY ACCOUNT DASHBOARD */


/* START WOOCOMMERCE VIEW ORDER - MES ACHATS */

.image-product-view-order img {
    margin: 20px 20px 20px 0 !important;
    border: solid 2px #ececec;
}


/* END WOOCOMMERCE VIEW ORDER */


/* START WOOCOMMERCE ORDER PRODUCT */

.order-product-image img {
    margin: 10px 0 0 0 !important;
    padding: 0;
    border: solid 1px #ececec;
    width: 30%;
}

.woocommerce-orders-table__cell-order-number img {
    width: 50px !important;
    max-width: 64px !important;
    margin-left: 0 !important;
    border: solid 1px #999999;
}


/* END WOOCOMMERCE ORDER PRODUCT */


/* START MES INFORMATIONS */

#basic-user-avatar-form img {
    margin-bottom: 20px !important;
    border: solid 1px var(--dark-grey);
}

.my-account-details h2,
.my-account-details h3 {
    font-family: var(--font-family2);
}

.my-account-details {
    width: 100%;
    background-color: #ffffff !important;
    padding: 8% 10%;
    margin-top: 4%;
    box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.2);
    font-family: var(--font-family2);
}

#infos_personnelles {
    margin-top: 0;
}

#delete-account {
    padding: 5% 0 5% 0;
}

.annuler {
    color: #ffffff;
    background-color: var(--primary-color);
    height: 100%;
    padding: .79em 1.42em;
    border-radius: 5px !important;
}

.wpcf7-form {
    margin-bottom: 0px !important;
}

.annuler:hover,
.annuler:active {
    color: #ffffff;
    background-color: var(--secondary-color);
}

#pourquoi-desinscription label {
    width: 100%;
    margin: auto;
}

#pourquoi-desinscription textarea {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.nav-infos-compte {
    margin: 50px 0 20px 0;
    width: 100%;
    background-color: #fafafa;
    box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.2);
}

.navbar-infos-compte {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-infos-compte li {
    list-style-type: none;
    width: 33.33333333333%;
    color: var(--dark-grey);
    text-align: center;
    padding: 10px 20px;
    vertical-align: middle;
}

.navbar-infos-compte li:hover,
.navbar-infos-compte li:hover a,
.navbar-infos-compte li a:hover {
    color: #ffffff;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.navbar-infos-compte li:hover {}

@media (max-width: 1024px) {
    .nav-infos-compte {
        display: none !important;
    }
}


/* Infos personnelles */

#infos_personnelles #user_newsletter {
    padding: 5px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
}

.link-label-luzus:before {
    cursor: pointer;
    line-height: 1.8 !important;
    background-color: var(--tertiary-color);
    border-radius: 15px;
    color: #ffffff;
    transition: all 0.3s ease-in;
}

.link-label-luzus:hover:before,
.link-label-luzus:active:before,
.link-label-luzus:focus:before {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}


/* End infos personnelles */


/* END MES INFORMATIONS */


/* START SUPPORT LUZUS */

#container-tickets {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#create-ticket {
    width: 80%;
    margin: auto;
    padding: 20px 2%;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba( 0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    #container-tickets {
        width: 100%;
        display: block;
    }
    #create-ticket {
        width: 100%;
        padding: 2%;
        display: block;
    }
    #display-tickets thead tr {
        border-top: none !important;
        border-bottom-color: #f5f5f5 !important;
    }
}

.entry-content .bg-success {
    background-color: transparent !important;
    color: var(--green-success) !important;
    border-color: var(--green-success) !important;
    margin-bottom: 20px !important;
    font-family: var(--font-family1);
    font-weight: 700;
}

.text-reply {
    width: 38%;
    padding: 5%;
}

.list-reply {
    width: 58%;
    padding: 5%;
    background-color: var(--off-white);
    box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.2);
}

#create-ticket .form-group textarea {
    height: 200px;
}


/* END SUPPORT LUZUS */


/*DOKAN*/


/*Dashboard*/

@media (max-width: 768px) {
    .dokan-dashboard-menu {
        border: solid 2px #ececec;
    }
    .dokan-dashboard-menu li {
        width: 100% !important;
    }
    .dokan-dashboard-menu li.dokan-common-links a {
        padding-top: 2% !important;
        padding-bottom: 2% !important;
    }
}

.fa-upload:before {
    content: "\f0d6";
}


/*END Dashboard*/


/*PROFILE PROGRESS BAR*/

.dokan-progress-bar-info {
    background-color: var(--primary-color);
    background-image: none;
}


/*END PROFILE PROGRESS BAR*/


/*ALERT MESSAGES*/

.dokan-alert-info {
    background-color: var(--blue-info);
    color: var(--off-white);
    border: none;
}

.dokan-alert-danger {
    background-color: var(--red-alert);
    color: var(--dark-grey);
    border: none;
}

.dokan-alert-warning {
    background-color: var(--orange-warning);
    color: var(--dark-grey);
    border: none;
}

.dokan-alert-success {
    background-color: var(--green-success);
    color: var(--off-white);
    border: none;
}


/*END ALERT MESSAGES*/


/* DOKAN DASHBOARD */

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active:after {
    display: none !important;
}

.dokan-panel.dokan-panel-default.dokan-profile-completeness {
    display: none
}

.dokan-dashboard-content article.dashboard-content-area .dokan-announcement-widget ul li .dokan-dashboard-announce-date {
    background-color: #EFEFEF;
    color: #515151;
    font-family: Arial, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 1em !important;
    font-weight: normal !important;
    padding-top: 24px;
    padding-bottom: 27px;
}

.announce-day {
    display: inline-block;
    font-family: Arial, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 1em !important;
    font-weight: bold !important;
}

.announce-month {
    display: inline-block;
    font-family: Arial, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 1em !important;
    font-weight: normal !important;
}

.announce-year {
    display: inline-block;
    font-family: Arial, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    font-size: 1em !important;
    font-weight: bold !important;
}


/* END DOKAN DASHBOARD */


/*DOKAN "MES ANNONCES" */

.dokan-dahsboard-product-listing-wrapper td img {
    padding-bottom: 0;
    margin: 0 !important;
}

.dokan-w12 .dokan-btn-theme {
    background-color: var(--off-white) !important;
    color: var(--dark-grey) !important;
    border-color: var(--light-grey);
    border-radius: 0;
}

.dokan-w12 .dokan-btn-theme:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--off-white) !important;
}

.dokan-add-product-link a {
    border-radius: 0 !important;
}

.dokan-add-product-link a:hover {
    border-radius: 0 !important;
    border-color: var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;
}


/* END DOKAN "MES ANNONCES" */


/* START DOKAN HELP SECTION */


/*********  MODIFICATION IN THE PLUGIN CSS INTERFACE (SETTINGS)*********/

.support_bs h3 {
    margin-top: 0;
    color: var(--dark-grey);
    font-family: var(--font-family1);
}

.list_ticket {
    font-family: var(--font-family2);
}

.list_ticket h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    color: var(--dark-grey);
    font-family: var(--font-family1);
}


/* END DOKAN HELP SECTION */


/* START DOKAN FORM */

#dokan-form-contact-seller {
    padding: 10%;
}


/* END DOKAN FORM */


/* START DOKAN PAYMENT FORM */

#infos-bancaires .dokan-w8 {
    width: 100%;
}

#infos-bancaires .dokan-w6 {
    width: 100%;
}


/* END DOKAN PAYMENT FORM */

#add-tracking-details {
    margin: auto;
    text-align: center;
}

#dokan-cancel-tracking-note {
    background-color: transparent;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: var(--primary-color);
    font-size: 2em;
}


/*END DOKAN*/

#unsubscribe-link {
    color: var(--dark-grey);
    border-color: var(--dark-grey);
    margin-bottom: 30px;
}

#unsubscribe-link:hover {
    color: var(--off-white) !important;
    background-color: var(--dark-grey) !important;
}


/* USER STORE */

.profile-info-summery-wrapper .profile-info-summery,
.dokan-single-store .dokan-store-tabs ul {
    background-color: #ffffff;
    border: 0px !important;
}

.profile-info-summery-wrapper .profile-info ul {
    margin-left: 2em;
    padding-left: 0;
}

.profile-info-summery-wrapper #userDescription p {
    font-size: 1em;
    margin-left: 2em;
}

#dokan-content #storeHeader {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.profile-info-summery-wrapper .profile-info-summery .store-name {
    color: var(--primary-color);
    font-family: var(--font-family1);
    font-weight: 900;
}

.profile-info-summery-wrapper .profile-info-summery .dokan-store-info {
    color: var(--dark-grey);
}

.profile-info-summery-wrapper .profile-info-summery .dokan-store-info .fa-star {
    color: #FF9700;
}

.dokan-store-tabs .dokan-share-btn-wrap {
    display: none !important;
}

.dokan-single-store #reviews {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
}

.dokan-single-store #reviews ol {
    margin-top: 10px !important;
}

.dokan-single-store #reviews .review_comment_container {
    padding-top: 10px;
}

.dokan-single-store #reviews ol .description h4 {
    font-family: var(--font-family2) !important;
    font-size: 1em !important;
}

.dokan-single-store #reviews ol .description p {
    font-family: var(--font-family2) !important;
    font-size: 1em !important;
}


/* DOKAN "MA BOUTIQUE" MENU */

.dokan-dashboard-menu {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}


/* END DOKAN "MA BOUTIQUE" MENU */

.postid-7658 .dokan-product-edit {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 0px rgba( 0, 0, 0, 0.2);
}


/* ADD NEW PRODUCT FORM */

.formRow .left {
    background: #ffffff;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.formRow .left label {
    color: #000000 !important;
}

#formCategory {
    margin-bottom: 15px;
}


/*New product form page*/

#post-3919 .dokan-dashboard-header,
#post-3919 .dokan-dashboard-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.formRow .right .col {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 1px rgba( 0, 0, 0, 0.2);
    padding: 20px;
    /*margin-top: 30px;*/
}


/* END ADD NEW PRODUCT FORM */

#dashboardMyAccount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

#dashboardMyAccount li {
    list-style: none;
    text-align: center;
    margin: auto;
}

.badge {
    padding: 0.8em 0.8em;
}

.badge-primary {
    background-color: var(--primary-color);
}

.badge-secondary {
    background-color: var(--secondary-color);
}

.badge-tertiary {
    background-color: var(--tertiary-color);
}


/* MES ACHATS (ORDERS) */

#cardMesAchats {
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}


/* END MES ACHATS (ORDERS) */


/* STORE SUPPORT */


/* MODAL CREATE CONVERSATION */

.mfp-content .dokan-support-intro-user,
.mfp-content .dokan-select {
    display: none !important;
}


/* END MODAL CREATE CONVERSATION */


/* END STORE SUPPORT */

.dokan-order-action .dokan-btn:hover,
.dokan-support-customer-listing .dokan-support-table .dokan-btn:hover {
    color: var(--tertiary-color) !important;
}

.dokan-order-action .dokan-btn,
.dokan-support-customer-listing .dokan-support-table .dokan-btn {
    background-color: transparent !important;
    padding: 0;
    margin: auto !important;
    color: var(--dark-grey) !important;
    border: 0px !important;
    text-align: center !important;
    font-size: 1em;
    font-weight: bold;
}

.dokan-table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent !important;
}

.dokan-orders-area,
.dokan-product-listing-area,
.dokan-support-customer-listing,
.dokan-support-topic-wrapper {
    background-color: #ffffff;
    padding: 40px !important;
    box-shadow: 0px 0px 3px 0px rgba( 0, 0, 0, 0.2);
}

.order-reference {
    display: none !important;
}


/* KYC MY INFORMATIONS PAGE */

.kyc_list_documents_banner.light {
    background-color: #084399 !important;
    padding: 15px !important;
    border-radius: 5px !important;
}

.kyc_list_documents_ul .kyc.not_sent::after {
    color: #FF9700 !important;
}


/* END KYC MY INFORMATIONS PAGE */